@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    font-weight: bold;
    font-size: x-large;
}

.navbar-text{
    font-size: large;
}

.container{
    margin-top: 30vh;
    background: rgba(2, 129, 213, 0.6);
    padding: 50px;
    box-shadow: 1px 1px 23px 2px rgba(0,0,0,0.4);
}

.container a{
    text-decoration: none;
    font-weight: 600;
}

label{
    font-size: x-large;
    font-weight: 600;
}

.b-sub{
    width: 15vw;
    margin: auto;
    display: block;
}

.mainFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #032d4b;
    padding: 15px;
    color: #ffffff;
    margin-top: 20px;
}

.mainFooter a{
    color: #ffffff;
    text-decoration: none;
}

.mainFooter a:hover{
    color: #a5a5a5;
}