<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL Validator</title>
    <th:block th:insert="fragments/layout::head"></th:block>
</head>
<body>
<th:block th:insert="fragments/layout::header"></th:block>

    <div class="container">
        <form th:object="${urlclass}" th:action="@{/validateURL/}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="checkURL">Enter the URL you want to check</label>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-globe-asia"></i></span>
                    </div>
                    <input id="checkURL" type="text" class="form-control" th:field="*{checkURL}">
                </div>
            </div>
            <button type="submit" class="btn-primary btn-lg b-sub"><i class="fas fa-paper-plane"></i> Submit</button>
        </form>
    </div>

<th:block th:insert="fragments/layout::footer"></th:block>

<th:block th:insert="fragments/layout::scripts"></th:block>
</body>
</html>